[app]

debug=0
gitpkg_debug=1
thumbnail=0

# This value is salted and used for encryption.
# Should be a long randomly-generated string.
secret_key=REDACTED

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
allowed_hosts=by.densho.org, ddrexplorer.local, 192.168.56.188, 127.0.0.1

# List of origin hostnames that are authorized to make cross-site HTTP requests.
# Empty lists sets CORS_ORIGIN_ALLOW_ALL to True
# See https://github.com/ottoyiu/django-cors-headers/
cors_origin_whitelist=

# Describes the severity of messages that the logger will handle (Default: INFO)
log_level=INFO

# sitewide cache timeout (60*15=900, 60*60=3600)
cache_timeout=900

# Connection information for database
sqlite_path=/var/lib/ddr/ddrexplorer.db

# Connection information for the Elasticsearch backend.
docstore_host=192.168.0.20:9200
docstore_index=ddrpublic-production

# Throttle anonymous and logged-in connections
throttle_anon=10000/day
throttle_user=10000/day
